<?xml version="1.0" encoding="UTF-8"?>
<Root>
	<CeParametersManager driverID="36">
		<CurrentPowerLimit number="1" inner="342" writeable="true"/>
		<CurrentPowerParameter number="2" inner="306"/>
		<CurrentTarifEnergy number="3" inner="304" tarifNumber="0"/>
		<CurrentTarifEnergy number="4" inner="304" tarifNumber="1"/>
		<CurrentTarifEnergy number="5" inner="304" tarifNumber="2"/>
		<CurrentTarifEnergy number="6" inner="304" tarifNumber="3"/>
		<CurrentTarifEnergy number="7" inner="304" tarifNumber="4"/>
		<CurrentTarifEnergy number="8" inner="304" tarifNumber="5"/>
		<CurrentTarifEnergy number="9" inner="304" tarifNumber="6"/>
		<CurrentTarifEnergy number="10" inner="304" tarifNumber="7"/>
		<CurrentTarifSumParameter number="11" inner="305"/>
		<EnergyForPaymentDateParameter number="12" inner="304" tarifNumber="0"/>
		<EnergyForPaymentDateParameter number="13" inner="304" tarifNumber="1"/>
		<EnergyForPaymentDateParameter number="14" inner="304" tarifNumber="2"/>
		<EnergyForPaymentDateParameter number="15" inner="304" tarifNumber="3"/>
		<EnergyForPaymentDateParameter number="16" inner="304" tarifNumber="4"/>
		<EnergyForPaymentDateParameter number="17" inner="304" tarifNumber="5"/>
		<EnergyForPaymentDateParameter number="18" inner="304" tarifNumber="6"/>
		<EnergyForPaymentDateParameter number="19" inner="304" tarifNumber="7"/>
		<AccoumulateEnergyParameter number="20" inner="308"/>
	</CeParametersManager>
</Root>